* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --main-color: #7e8392;
    --sub-color: #666a76;
    --color-white: #eee;

}

svg 
{
    width: 60px;
    position:fixed;
    top: 20px;
    left: 20px;
    text-align: left;
    fill: var(--sub-color);
    border-radius: 50%;
    padding: 10px;
    background-color: var(--color-white);
}

#timer_clock
{
    width: 80px;
    position: fixed;
    top: 150px;
    left: 10px;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 4px;
    margin-top: 3px;
    border: 2px var(--color-white) solid;
    background-color: var(--sub-color);
    z-index: 1;
}

#timer-icon
{
    top: 100px;
}

svg:hover 
{
    background-color: var(--sub-color);
    fill: var(--color-white);    
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--main-color);
    padding-top: 30px;
    gap: 60px;
    color: var(--color-white);
    font-size: 1.5em; 
    text-align: center; 
    /* new */
        
}


h5 
{
    font-size: 30px;
    text-align: center;
    margin: 40px;
}


form {
    padding-top: 10px;
}


iframe {
    margin: 0px !important;
    padding: 0px !important;
    background: blue; /* this is just to make the frames easier to see */
    border: 0px !important;
}

h2 
{
    padding-top: 10px;
    font-size: 35px;
}

h4
{
    width:200px;
    height:60px;
    padding-top: 10px;
    font-size: 30px;
    color: var(--color-white);
    background-color: var(--sub-color);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 20px;   
    border-radius: 20px;
    border-color: var(--color-white);
    border-width: 3px;
    border-style: groove;

}

.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.container > div {
    margin: 0px;
    padding: 0px;
}

.container > div:hover {
    background-color: var(--sub-color);

}

.test 
{
    border-spacing: 5px;
    margin: 5px;    
}

.test tr:nth-child(even) td{
    background-color: var(--sub-color);
    column-span: all;
    
}

.test tr:nth-child(even) .selector:hover
{
    background-color: var(--main-color);

}

.testVidp 
{
    border-spacing: 5px;
    margin: 5px;
    column-span: all;
    background-color: var(--sub-color);
}

.testhead {
    background: none;
}

td 
{
    padding: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.numVid
{
    border-radius: 10%;
    border-width: 2px;
    border-color: var(--color-white);
    border-style: groove;
    background-color: var(--main-color);
    width: 50px;
}

.num 
{
    width: 50px;
    text-align: right;
    margin-right: 15px;
}

.selector 
{
    background-color:var(--color-white);   
    align-items: center;
    vertical-align: middle;
    border-radius: 10%;
    
}

.selector:hover
{
    background-color: var(--main-color);
}


.coltext
{
    height: 25px;
    width: 25px;
    border-width:0px;
    border:none;
    outline:none;
    text-align: center;
    color: var(--sub-color);
    font-size: 20px;
    background-color:var(--color-white);
}

.textgreen
{
    height: 25px;
    width: 25px;
    border-width:0px;
    border:none;
    outline:none;
    text-align: center;
    color: green;
    font-size: 20px;
    background-color:var(--color-white);
}

.textred
{
    height: 25px;
    width: 25px;
    border-width:0px;
    border:none;
    outline:none;
    text-align: center;
    color: red;
    font-size: 20px;
    background-color:var(--color-white);
}

.textVidp
{
    background-color:var(--color-white);
    border-style: dotted;
    border-color:var(--sub-color);
    vertical-align: middle;
    justify-content: center;
    border-width: 2px;
    border-radius: 20%;
    margin: 0;
    padding: 0;
}

.textVidpComm 
{
    background-color: transparent;
}

.check
{
    margin-top: 10px;
    padding: 10px;
    background-color:var(--color-white);
    vertical-align: middle;
    justify-content: center;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 0px;
}

.check:hover 
{
    background-color:var(--sub-color);
    color:var(--color-white);
    border-color: var(--color-white);
}


.check:disabled:hover 
{
    background-color:var(--main-color);
    color:var(--color-white);
    border-color: var(--color-white);
}


.radiotest {
    height: 20px;
    width: 20px;
    accent-color:var(--color-white);
    border-radius: 50%;    
    accent-color: var(--sub-color);    
    display:inline-block;
}

.radiotest:checked
{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border: 2px solid var(--color-white);
    border-radius:50%;
    outline:none;
    box-shadow:0 0 8px 4px var(--sub-color) inset;
}

.red
{
    height: 20px;
    width: 20px;
    accent-color:var(--color-white);
    border-radius: 50%;
    accent-color: red;
       
    
}


.red:disabled,
.red[disabled=disabled]
{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid var(--color-white);
    border-radius:50%;
    outline:none;
    box-shadow:0 0 8px 4px red inset;
}

.green:disabled,
.green[disabled=disabled]
{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid var(--color-white);
    border-radius:50%;
    outline:none;
    box-shadow:0 0 8px 4px green inset;
    
    
}

.none
{
    display: none;
}


#answertext 
{
    padding-bottom: 60px;
}

footer { 
    border-top: 1px solid var(--color-white);
    height: 60px;
    width: 100%;
    background: var(--sub-color); 
    position: fixed;
    top: calc(100% - 40px);
    font-size: 12px;
    color: var(--color-white);
    text-decoration: none;    
}

.footer_text 
{
    margin-top: 12px;    
    justify-content: center;
    
}

.a_footer
{
    color: var(--color-white);
    text-decoration: none;
}

.a_footer:hover
{
    color: var(--color-white);
    text-decoration: underline;
}

